<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <appSettings>
	  <add key="ASPNETCompilerPath" value="C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\aspnet_compiler.exe"/>
	  <add key="WebServerExePath" value="C:\Program Files\Common Files\microsoft shared\DevServer\9.0\WebDev.WebServer.exe"/>
    <add key="Port" value="8081"/>
    <add key="WebApplicationPath" value="Ra.Tests.WebSite"/>
    <add key="DefaultPageUrl" value="http://localhost:8081/"/>
  </appSettings>
  <NUnit>
    <TestRunner>
      <!-- Valid values are STA,MTA. Others ignored. -->
      <add key="ApartmentState" value="STA" />
    </TestRunner>
  </NUnit>
</configuration>