html, body { width:100%; height:100%; overflow:hidden; text-align:left; }
form { height:100%; }
body { text-align:left; background-color:#fafaff; }
a { text-decoration:none; }

.main { width:100%; height:100%; }

.status { color:White; font-size:1.2em; width:100%; background:url('bg-header.png') repeat-x; height:30px; line-height:28px; text-align:center; padding-left:auto; padding-right:auto; }

.tree { position:relative; background-color:Transparent; }

.tree .lines, 
.tree .linesElbow, 
.tree .expanded .leaf, 
.tree .expanded .no-leaf,
.tree .collapsed .leaf,
.tree .collapsed .no-leaf,
.tree .no-childs .leaf,
.tree .no-childs .no-leaf
{
	background-image:none;
}

.headerTop
{
	height:25px;
	width:400px;
	position:absolute;
	left:50px;
	font-weight:bold;
}

.usernameTop
{
	height:25px;
	position:absolute;
	left:400px;
	font-weight:bold;
}

.dateTop
{
	height:25px;
	position:absolute;
	left:600px;
	font-weight:bold;
}

.headerSpacer
{
	height:25px;
}

.username
{
	position:absolute;
	left:400px;
}

.date
{
	position:absolute;
	left:600px;
}

.bodyContent
{
	border:dotted 1px #999;
	padding:5px 5px 25px 5px;
	background-color:#fefefe;
	position:relative;
}

.bodyContentDiv
{
	overflow:hidden;
}

.pager
{
	text-align:center;
	margin:5px;
}

.pager a
{
	padding:5px;
	text-decoration:none;
}

.pager a:hover
{
	background-color:#f0f0f0;
}

.newPostWnd
{
	position:absolute;
	top:100px;
	left:100px;
	width:500px;
	z-index:1000;
}

input.newPostHeader
{
	width:70%;
	display:block;
	margin:0 auto 25px auto;
}

textarea.newPostBody
{
	width:70%;
	height:100px;
	display:block;
	margin:0 auto 0 auto;
}

input.newPostSave
{
	position:absolute;
	bottom:5px;
	right:5px;
}

.replyBtn
{
	position:absolute;
	bottom:2px;
	right:2px;
}


