html, body, div, table, h1, h2, h3, h4, h5, h6
{
	margin:0;
	padding:0;
}

html, body, form
{
}

img
{
	border:none;
}

a
{
	text-decoration:none;
	color:#00f;
}

a:hover
{
	text-decoration:underline;
	color:#000;
}

#wholePageDiv
{
}

#contentPlusBorders
{
	width:1056px;
	background:Transparent url(bg.png) repeat-y;
	margin-left:auto;
	margin-right:auto;
}

#wholeContentDiv
{
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

#logoPartDiv
{
	height:259px;
	background:Transparent url(sun.jpg) no-repeat;
}

#navigation
{
	width:224px;
	float:left;
	padding-top:35px;
}

.links
{
	list-style-type:none;
	font-size:smaller;
}

#contentOfPageDiv
{
	float:left;
	width:730px;
	padding:35px;
}

#contentOfPageDiv div
{
	text-align:justify;
}

#loginDiv
{
	position:absolute;
	right:5px;
	top:5px;
}


#contentOfPageDiv div.actionbar
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
