/* Special classes for website only */

ul.list
{
	margin:5px 0 5px 0;
}

ul.list li
{
	list-style-type:disc;
	list-style-position:outside;
	margin-left:25px;
}

/* MasterPage CSS */

#paper
{
	width:1056px;
	background:url('bg.png') repeat-y 0 0;
	margin:0 auto 0 auto;
	overflow:auto;
}

#paperContent
{
	margin-left:16px;
	margin-right:16px;
	overflow:auto;
}

#header
{
	height:140px;
	background:url('sun_background.jpg') no-repeat 0 0;
	width:1024px;
	position:relative;
}

#navigation
{
	width:300px;
	float:left;
}

#navigationContent
{
	padding:25px 15px 25px 15px;
}

#content
{
	float:left;
	width:724px;
}

#contentContent
{
	padding:25px 15px 25px 15px;
	min-height:900px;
}

.showCode
{
	background:url('curl.png') no-repeat 0 0;
	position:absolute;
	right:0px;
	top:0px;
	width:40px;
	height:40px;
	text-decoration:none;
}

.codeWrapper
{
	margin-top:0;
	overflow:hidden;
}

.code
{
	font-size:10px;
	overflow:hidden;
	font-family:Arial;
}

.keyword
{
	color:Blue;
}

.comment
{
	color:Green;
}

#pageContent
{
	overflow:hidden;
	padding:0;
}


/* Ajax Samples Landing Page */
.thumbs
{
	margin:5px;
}

.thumbs .links
{
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding:15px;
	overflow:auto;
	border:dotted 1px #ddd;
	text-decoration:none;
	color:#000;
}

.thumbs .links:hover
{
	background-color:#ffffff;
	color:#000;
	border:solid 1px #ddf;
}

.thumbs .links .header
{
	font-size:1.0em;
	font-weight:bold;
	display:block;
}

.thumbs .links .image1,
.thumbs .links .image2,
.thumbs .links .image3,
.thumbs .links .image4,
.thumbs .links .image5
{
	float:left;
	margin-right:10px;
	display:block;
	width:300px;
	height:185px;
	background-image:url('big-thumbs.png');
}

.thumbs .links .image1
{
	background-position:-600px 0;
}

.thumbs .links .image2
{
	background-position:-900px 0;
}

.thumbs .links .image3
{
	background-position:-1200px 0;
}

.thumbs .links .image4
{
	background-position:-300px 0;
}

.thumbs .links .image5
{
	background-position:0 0;
}

.thumbs .links .text
{
	font-size:0.9em;
	padding-top:5px;
	display:block;
}



/* Small thumbs */
.thumbsSmall
{
	margin:5px;
}

.thumbsSmall .links
{
	display:block;
	overflow:auto;
	text-decoration:none;
	color:#000;
}

.thumbsSmall .links:hover
{
	background-color:Transparent;
	color:#000;
}

.thumbsSmall .links .header
{
	font-size:1.0em;
	font-weight:bold;
	display:block;
}

.thumbsSmall .links .image1,
.thumbsSmall .links .image2,
.thumbsSmall .links .image3,
.thumbsSmall .links .image4,
.thumbsSmall .links .image5
{
	float:left;
	display:block;
	width:100px;
	height:62px;
	background-image:url('small-thumbs.png');
}

.thumbsSmall .links .image1
{
	background-position:-200px 0;
}

.thumbsSmall .links .image2
{
	background-position:-300px 0;
}

.thumbsSmall .links .image3
{
	background-position:-400px 0;
}

.thumbsSmall .links .image4
{
	background-position:-100px 0;
}

.thumbsSmall .links .image5
{
	background-position:0 0;
}

.thumbsSmall .links .text
{
	float:left;
	width:140px;
	margin-left:5px;
	margin-top:15px;
	font-size:12px;
	font-family:Arial;
}


/* Small thumbs for navigation */
.thumbsSmallNav
{
	margin:5px;
}

.thumbsSmallNav .links
{
	display:block;
	overflow:auto;
	text-decoration:none;
	color:#000;
}

.thumbsSmallNav .links:hover
{
	background-color:Transparent;
	color:#000;
}

.thumbsSmallNav .links .header
{
	font-size:1.0em;
	font-weight:bold;
	display:block;
}

.thumbsSmallNav .links .image1,
.thumbsSmallNav .links .image2,
.thumbsSmallNav .links .image3,
.thumbsSmallNav .links .image4,
.thumbsSmallNav .links .image5
{
	float:left;
	display:block;
	width:100px;
	height:62px;
	background-image:url('small-navigation-thumbs.png');
}

.thumbsSmallNav .links .image1
{
	background-position:0 0;
}

.thumbsSmallNav .links .image2
{
	background-position:-100px 0;
}

.thumbsSmallNav .links .image3
{
	background-position:-200px 0;
}

.thumbsSmallNav .links .image4
{
	background-position:-300px 0;
}

.thumbsSmallNav .links .image5
{
	background-position:-400px 0;
}

.thumbsSmallNav .links .text
{
	float:left;
	width:140px;
	margin-left:5px;
	margin-top:15px;
	font-size:12px;
	font-family:Arial;
}


/* CRM sample */

.dataGrid
{
	width:100%;
	border-collapse:collapse;
}

.dataGrid tr th
{
	background:url('window-h-sprite.png') repeat-x 0 0;
}

.dataGrid tr td,
.dataGrid tr th
{
	border:none 0;
}

.dataGrid tr.odd td
{
	background-color:#fefefe;
}

.dataGrid tr.even td
{
	background-color:#fafafa;
}


