html, body, div, table, h1, h2, h3, h4, h5, h6
{
	margin:0;
	padding:0;
}

html, body, form
{
}

img
{
	border:none;
}

#wholePageDiv
{
}

#contentPlusBorders
{
	width:1056px;
	background:Transparent url(bg.png) repeat-y;
	margin-left:auto;
	margin-right:auto;
}

#wholeContentDiv
{
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

#logoPartDiv
{
	height:259px;
	background:Transparent url(sun.jpg) no-repeat;
}

#navigation
{
	width:224px;
	float:left;
	padding-top:35px;
}

.links
{
	list-style-type:none;
	font-size:smaller;
}

.links a
{
	text-decoration:none;
	color:#00f;
}

.links a:hover
{
	text-decoration:underline;
	color:#000;
}

#contentOfPageDiv
{
	float:left;
	width:730px;
	padding:35px;
}

.showCodeDiv
{
	float:left;
	width:1024px;
	position:absolute;
	top:259px;
	left:0px;
	background-color:#fefedd;
	z-index:1000;
	overflow:auto;
	border-bottom:solid 1px #ddd;
}

#contentOfPageDiv p
{
	text-align:justify;
}




/* Classes for code-formatting...
 */
.keyword
{
	color:Blue;
}

.comment
{
	color:Green;
}







/* Special stuff
 */
.ajaxImageButton
{
	border:solid 1px White;
}

.ajaxImageButton:hover
{
	border:solid 1px #eee;
}

.forumReply
{
	margin-top:25px;
	width:100%;
	background-color:#f9f9f9;
}



/* Blog specific styles
 */
.blog
{
	width:500px;
	font-family: verdana, tahoma, arial, sans-serif;
	line-height:1.6em;
	font-size:76%;
}

.blog h1
{
	font-size:1.4em;
}

.blog h2
{
	font-size:1.2em;
}

.blog h3
{
	font-size:1.0em;
}

.blog i.date
{
	font-style:normal;
	color:#999;
}

.blog a
{
	color:#00f;
	text-decoration:none;
}

.blog a:hover
{
	color:#000;
	text-decoration:underline;
}

.blog pre
{
	font-size:1.2em;
	line-height:1.0em;
}

.blog code
{
	font-size:1.2em;
}

