html, body, div, p, table, h1, h2, h3, h4, h5, h6
{
	margin:0;
	padding:0;
}

html, body, form
{
	height:100%;
}

#wholePageDiv
{
	width:100%;
	height:100%;
}

#contentPlusBorders
{
	width:1056px;
	background:Transparent url(bg.png) repeat-y;
	margin-left:auto;
	margin-right:auto;
	height:100%;
}

#wholeContentDiv
{
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

#logoPartDiv
{
	height:259px;
	background:Transparent url(sun.png) no-repeat;
}

#navigation
{
	width:224px;
	float:left;
}

.links
{
	list-style-type:none;
	font-size:smaller;
}

.links a
{
	text-decoration:none;
	color:Blue;
}

#contentOfPageDiv
{
	float:left;
	width:770px;
	padding:15px;
}

.showCodeDiv
{
	float:left;
	width:1024px;
	position:absolute;
	top:259px;
	left:0px;
	background-color:#fefedd;
	z-index:1000;
	overflow:hidden;
	border-bottom:solid 1px #ddd;
}

#contentOfPageDiv p
{
	text-align:justify;
}












