<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<%@ Register 
    Assembly="Ra" 
    Namespace="Ra.Widgets" 
    TagPrefix="ra" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
        <script type="text/javascript">
function init() {
  Ra.$('results').setContent('unknown');
}


function callMethod1() {
  Ra.Control.callServerMethod('foo', {
    onSuccess: function(retVal) {
      if( retVal == '5thomas' )
        Ra.$('results').setContent('success');
    },
    onError: function(status, fullTrace) {
      alert(fullTrace);
    }
  }, [5, 'thomas']);
}
        </script>

</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div id="results">
            Unknown
        </div>
        <button id="btn" onclick="callMethod1();return false;">Click me</button>
        <ra:Label runat="server" ID="lbl" />
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
