

html, body { width:100%; height:100%; overflow:hidden; }
form { height:100%; }
body { text-align:left; background-color:#fafaff; }

.main { width:100%; height:100%; }

.menu { height:28px; z-index:2000; }

.tab { width:100%; }

.loginTbl { border-collapse:collapse; margin:15px; margin-left:auto; margin-right:auto; }
.loginTbl tr td { border:none; }

.status { color:White; font-size:1.2em; width:100%; background:Transparent url('bg-header.png') repeat-x; height:30px; line-height:28px; text-align:center; padding-left:auto; padding-right:auto; }