html, body, div, table, h1, h2, h3, h4, h5, h6
{
	margin:0;
	padding:0;
	font-family:"Lucida Grande","Lucida Sans Unicode",verdana,tahoma,arial,sans-serif;
	text-align:justify;
}

body
{
	font-size:84%;
}

img
{
	border:none;
}

#contentPlusBorders
{
	width:1056px;
	background:url('bg.png') repeat-y;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	padding:0 16px 15px 16px;
	position:relative;
}

.showCodeButtons
{
	position:absolute;
	right:65px;
	top:5px;
}

#logoPartDiv
{
	height:259px;
	background:url('sun_background.jpg') no-repeat;
}

.showCodeDiv
{
	line-height:1em;
	font-size:medium;
	color:#222;
	top:259px;
	left:16px;
	width:1024px;
	position:absolute;
	background-color:#fefedd;
	z-index:1000;
	overflow:auto;
	border-bottom:solid 1px #ddd;
}

#navigation
{
	width:224px;
	float:left;
	padding-top:35px;
}

#wholeContentDiv
{
	float:left;
}

#contentOfPageDiv
{
	float:left;
	width:730px;
	padding:35px;
}

.links
{
	list-style-type:none;
	font-size:85%;
}

.links a
{
	text-decoration:none;
	color:#00f;
}

.links a:hover
{
	text-decoration:underline;
	color:#000;
}

.sitemap
{
	text-align: left;
	font-size:90%;
}

.sitemap a
{
	text-decoration:none;
	color:#00f;
}

.sitemap li
{
	margin-top:5px;
}

.sitemap a:hover
{
	text-decoration:underline;
	color:#000;
}

#contentOfPageDiv div
{
	text-align:justify;
}




/* Classes for code-formatting...
 */
.keyword
{
	color:Blue;
}

.comment
{
	color:Green;
}







/* Special stuff
 */
.ajaxImageButton
{
	border:solid 1px White;
}

.ajaxImageButton:hover
{
	border:solid 1px #eee;
}

.forumReply
{
	margin-top:25px;
	margin-left: 10px;
	width:100%;
	background-color:#f9f9f9;
	border: dashed 1px #555;
	padding: 10px;
}



/* Blog specific styles
 */
.blog
{
	width:500px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", verdana, tahoma, arial, sans-serif;
	line-height:1.6em;
	font-size:80%;
	color:#222;
}

.blog h1
{
	font-size:1.3em;
}

.blog h2
{
	font-size:1.2em;
}

.blog h3
{
	font-size:1.0em;
}

.blog i.date
{
	font-style:normal;
	color:#999;
}

.blog a
{
	color:#00f;
	text-decoration:none;
}

.blog a:hover
{
	color:#000;
	text-decoration:underline;
}

.blog pre
{
	font-size:1.2em;
	line-height:1.0em;
}

.blog code
{
	font-size:1.2em;
}



/* Calendar specific CSS
 */
.calendar
{
	background:url('calendar.png') no-repeat;
	font-size:0.7em;
	display:inline-block;
	border:outset 4px #999;
	/* IE hack */
	*float:left;
	*display:inline;
}

.calendar select
{
	border:none;
	margin:0 5px 0 5px;
	font-size:0.8em;
	background-color:Transparent;
	color:#bb5;
}

.calendar table tr.weekdays td
{
	color:#ddd;
}

.calendar table tr td.weekno
{
	color:#bbb;
}

.calendar a
{
	text-decoration:none;
	color:#dd7;
	padding:1px;
	border:solid 1px Transparent;
}

.calendar a:hover
{
	border:solid 1px #999;
}

.calendar a.offMonth
{
	color:#bbb;
}

.calendar a.selected
{
	border:solid 1px Yellow;
}

.calendar .holidayOnVenus a
{
	color:#0f0;
}


/* AutoCompleter specific styles
 */
.auto
{
	border:solid 1px Black;
	background-color:Yellow;
	width:600px;
	padding:5px;
	position:absolute;
	z-index:100;
}

.auto ul
{
	list-style-type:none;
	font-size:0.7em;
}

.auto a
{
	text-decoration:none;
}

.auto a:hover
{
	text-decoration:underline;
	color:Black;
}


/* TabControl styles
 */
.tab-control
{
	width:95%;
}

.tab-control .tab-header
{
}

.tab-control .tab-header ul
{
	padding:0;
	margin:0;
}

.tab-control .tab-header ul li
{
	list-style-type:none;
	display:inline;
	padding-right:2px;
}

.tab-control .tab-header ul li.first
{
	margin-left:6px;
}

.tab-control .tab-header ul li a
{
	text-decoration:none;
	color:#333;
	padding:5px;
}

.tab-control .tab-header ul li.active a
{
	color:#993;
}

.tab-control .tab-header ul li.active a:hover
{
	color:#993;
}

.tab-control .tab-header ul li a:hover
{
	color:#66d;
}



.tab-control .tab-header ul li span.left
{
	background:url('tabcontrol.png') no-repeat;
	width:3px;
	padding-top:5px;
}

.tab-control .tab-header ul li span.center
{
	background:url('tabcontrol.png') repeat-x 0 -50px;
	padding-top:5px;
}

.tab-control .tab-header ul li span.right
{
	background:url('tabcontrol.png') no-repeat -2px 0px;
	width:3px;
	padding-top:5px;
}



.tab-control .tab-header ul li.active span.left
{
	background:url('tabcontrol.png') no-repeat 0 -100px;
	border-bottom:solid 1px #F0F0EA;
}

.tab-control .tab-header ul li.active span.center
{
	background:url('tabcontrol.png') repeat-x 0 -150px;
	font-weight:bold;
	border-bottom:solid 1px #F0F0EA;
}

.tab-control .tab-header ul li.active span.right
{
	background:url('tabcontrol.png') no-repeat -2px -100px;
	border-bottom:solid 1px #F0F0EA;
}


.tab-control .content
{
	padding:15px;
	background-color:#F0F0EA;
	border:solid 1px #91A7B4;
}




/* Accordion
 */
.accordion-control
{
}

.accordion-control .content
{
}

.accordion-control .body
{
	overflow:hidden;
	background-color:#f0f0ea;
}

.accordion-control .body-content
{
	border-top:solid 1px #e0e0da;
	padding:15px;
}

.accordion-control .content .accordion-header
{
	background:url('tabcontrol.png') repeat-x 0px -53px;
}

.accordion-control .content .accordion-header a
{
	text-decoration:none;
	padding:5px;
	display:block;
	font-weight:bold;
}





