<?xml version="1.0"?>
<configuration>
	<system.web>
    <pages>
      <controls>
        <add tagPrefix="ra" assembly="Ra" namespace="Ra.Widgets"/>
        <add tagPrefix="ra" assembly="Ra" namespace="Ra.Behaviors"/>
        <add tagPrefix="ra" assembly="Ra.Extensions" namespace="Ra.Extensions.Widgets"/>
      </controls>
    </pages>
    <compilation debug="true" />
	</system.web>
</configuration>
